@import url('https://fonts.googleapis.com/css?family=Abel|Indie+Flower&display=swap');
/*Estilos Generales*/
*{
    margin: 0%;
    padding: 0%;
	box-sizing: border-box;
    background: #cfd8dc;
}
/**Estilos para el Titulo*/
.titulo{
    font-family: 'Indie Flower', cursive;
	font-size: 80px;
    margin-bottom: 30px;
    text-align: center;
}
/**Estilos para Parrafos*/
.sectio{
    font-family: 'Abel', sans-serif;
    font-size: 35px;
    text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
/**Estilos para los Botones*/
#boton{
    border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 10px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
/**Propiedad del Boton para cuando pasa el Cursor sobre el */
	#boton:hover{
		cursor: pointer;
	}
/** Estilos para el Menu de Navegacion*/
#navega{
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: black solid 2px;
	border-radius: 20px;
	margin: 10px 100px 20px 100px;	
}
	#navega ul a{
		border: 1px solid black;
		border-radius: 4px;
		padding: 10px;
		margin:5px;
		background-color:#504658;
		display: inline-block;
  		border: none;
  		color: #f0decb;
  		text-align: center;
  		font-size: 20px;
  		width: 175px;
  		transition: all 0.5s;
  		cursor: pointer;
	}
/**Estilos para el Pie de Pagina*/
.pie{
	font-family: 'Abel', sans-serif;
    font-size: 20px;
	border: 1px solid black;
	border-radius: 25px;
	margin: 20px 500px 40px 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

	.pie a{
		color: black;
	}
/**Estilos para las Imagenes*/
.imagen{
	margin: auto;
	display: block;
}





 