
/**Boton Volver*/
.volver{
    border: 2px solid #0099CC;
    color: #0099CC;
    background: transparent;
    justify-content: center;
    border-radius: 6px;
    font-size: 25px;
    text-align: center;
    margin: 5px 700px 5px 700px;

}
    .volver:hover{
        background-color: #008CBA;
        color: white;
    }
    .volver a{
        color: black;
        background:transparent;
    }

.navega3{
    border: 1px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
}

.section3{
    border: 1px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
}

.aside3{
    border: 1px solid black;
    float: left;
    margin: 5px;
    padding: 5px;
}

.pie3{
    clear: both;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 25px;
	margin: 20px 200px 40px 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}