@import url('https://fonts.googleapis.com/css?family=Abel|Indie+Flower&display=swap');
/*Estilos Generales*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background: #cfd8dc;
}
/**estilos para el Titulo*/
.titulo{
    font-family: 'Indie Flower', cursive;
	font-size: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.sectio{
    font-family: 'Abel', sans-serif;
    font-size: 35px;;
    text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}


#boton{
    border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.navega{
    display: none;
}






 